<% title "JOURNAL ENTRIES"%>

<%# Display a list of journal entries %>
<h3>All Journal Entries</h3>
<% @journal_entries.each do |entry| %>
  <%= render "journal_entry", journal_entry: entry %>
<% end %>   

<%# Display a message if there are no journal entries %>
<% if @journal_entries.empty? %>
  <p>No journal entries available at the moment. Please check back later!</p>
<% end %>   
<%# Add a link to create a new journal entry %>
<div class="new-journal-entry">
  <%= link_to "Create New Journal Entry", new_trip_journal_entry_path(@trip), class: "btn btn-primary" %>
</div>      
<%# Note: Assuming journal entries are nested under trips, hence using new_trip_journal_entry_path(@trip) %>    
<% end %>

            <%= nav_link journal_entries_path do %>
              <%= image_tag("icons/icons8-journal-96.png", alt: "Journal Entries", class: "nav-icon") %>
              <span class="ms-2">Journal Entries</span>
            <% end %>