<% title "JOURNAL ENTRIES"%>

<%# Display a list of journal entries %>
<h3>All Journal Entries</h3>
<% @journal_entries.each do |entry| %>
  <%= render "journal_entry", journal_entry: entry %>
<% end %>   



<%# Display a message if there are no journal entries %>
<% if @journal_entries.empty? %>
  <p>No journal entries available at the moment. Please check back later!</p>
<% end %>   

<%# Add a link to create a new journal entry %>
<div class="new-journal-entry">
  <%= link_to "Create New Journal Entry", new_trip_journal_entry_path(@trip), class: "btn btn-primary" %>
</div>   

<%# Add a link to go back to the trip %>
<div class="back-to-trip">
  <%= link_to "Back to Trip", trip_path(@trip), class: "btn btn-secondary" %>
</div>

