<% title "NEW JOURNAL ENTRY" %>

<%= render "form", journal_entry: @journal_entry, trip: @trip %>

<div class="back-to-journal-entries">
  <%= link_to "Cancel", trips_path(@trip), class: "btn btn-secondary" %>
</div>
