<% title "JOURNAL ENTRY" %>

<%= render "form", journal_entry: @journal_entry, trip: @trip %>

<% if @journal_entry.user == Current.user %>
  <div class="back-to-journal-entries">
    <%= link_to "Back to All Trips", trips_path, class: "btn btn-secondary" %>
  </div>


  <%# Add a link to edit the journal entry %>
  <%# <div class="edit-journal-entry">
    <%= link_to "Edit Journal Entry", edit_trip_journal_entry_path(@trip, @journal_entry), class: "btn btn-secondary" %>
  <%# </div>  %>

  <%# Add a link to delete the journal entry %>
  <div class="delete-entry-btn">
    <%= link_to "Delete Journal Entry",
        trip_journal_entry_path(@trip, @journal_entry),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
        class: "btn btn-danger w-100 mt-3" %>
  </div>

<% end %>

