<% title "About" %>
<%# can set to false by ..., false... then the About wont show up %>
<h2>Travel Script</h2>
<p>Travel Script is a platform dedicated to helping users share and discover travel experiences. 
    Our mission is to provide a space where travelers can connect, share tips, and inspire each other to explore the world.</p>
